<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar5">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-stretch" id="navbar5">
        <ul class="navbar-nav">
            <li id="allMembers" class="nav-item">
                <a class="nav-link" href="/subscriptions">All Members</a>
            </li>
            <li id="addMember" class="nav-item">
                <a class="nav-link" href="/subscriptions/add">Add Member</a>
            </li>
        </ul>
    </div>
</nav>
