
<h3>Create Account Page</h3>
<% if(messages.length > 0)  { %>
    <%= messages %>
<% } %>

<form action="/createAccount" method="POST" autocomplete="off" >
    <label for="username">Username :</label>
    <input id="username" type="text" name="username" autofocus autocomplete="off" required><br>
    <label for="password">Password :</label>
    <input id="password" type="password" name="password" autocomplete="off" required><br>
    <input type="submit" value="Create"><br>
</form>