<nav class="navbar justify-content-center navbar-expand-sm bg-dark navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li id="movies" class="nav-item">
        <a class="nav-link" href="/movies">Movies</a>
      </li>
      <li id="subscriptions" class="nav-item">
        <a class="nav-link" href="/subscriptions">Subscriptions</a>
      </li>
      <li id="userManagement" class="nav-item">
        <a class="nav-link" href="/manageUsers">User Managment</a>
      </li>
      <li id="logout" class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
    </ul>
  </nav>
  