<ul>
    <li><a href="/movies">Movies</a></li>
    <li><a href="/subscriptions">Subscriptions</a></li>
    <li><a href="/manageUsers">User Managment</a></li>
    <li><a href="/logOut">Log Out</a></li>
</ul>