<%- include ./main.ejs %>
<div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12">
        <h2>Users</h2>

        <div class="list-group">
            <a href="/users" class="list-group-item list-group-item-action">All Users</a>
            <a href="/users/add" class="list-group-item list-group-item-action">Add User</a>
        </div>
    </div>
</div>