<%- include ./main.ejs %>
<div class="list-group list-group-horizontal">
    <a href="/users" class="list-group-item list-group-item-action">All Users</a>
    <a href="/users/add" class="list-group-item list-group-item-action">Add User</a>
</div>
