<!-- Top Components -->
<%- include ./partials/head.ejs %>
<%- include ./contentMain/main.ejs %>

<!-- Content Area -->
<main class="container-fluid">
        <%- include(page); -%>
</main>

<!-- Bottom components -->
<%- include ./partials/bottom.ejs %>