<%- include ./main.ejs %>

<div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12">
        <form method="POST" action="add">
            <div class="form-group">
                <label for="name">Name:</labe>
                <input type="text" class="form-control" id="name" name="name">
                <label for="genres">Geners:</labe>
                <input type="text" class="form-control" id="genres" name="genres">
                <label for="imageURL">Image URL:</labe>
                <input type="text" class="form-control" id="imageURL" name="imageURL">
                <label for="premiered">Premiered :</labe>
                <input type="text" class="form-control" id="premiered" name="premiered"><br>
                <input class="btn btn-primary" type="submit" value="Save">
                <a class="btn btn-danger" href="/movies/allMovies">Cancel</a>
        </form>   
    </div>
</div>